html {
    color: #0b1b34;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #0b1b34;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #0b1b34;
    text-shadow: none;
    color: #fff;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body{
    font-size: 0.83334vw;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
    box-sizing: border-box;
}
.section0,#home_start_btn{
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background-color:#0b1b34 !important;    
}
h1{
    font: 400 5.875em 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.19;
    color: #fff;
    text-align: center;
    margin: 0;
}
#clock_dial{
    transform: rotate(30deg);
}
 
.logo1 {
  fill: #d00031;
}

.logo2, .logo3 {
  fill: #fff;
}

.logo2, .loader_logo2{
  font-size: 27px;
  font-family: Montserrat-Bold, Montserrat;
  font-weight: 700;
}
.loader_logo2,.loader_logo3{
    fill: #0b1b34;    
}
.logo3, .loader_logo3 {
  font-size: 11px;
  font-family: Montserrat-Regular, Montserrat;
}
.str-pgh{
    position: absolute;
    bottom: -10vh;
    left: 0;
    width: 100%;
    font: 300 1.3rem 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    text-align: center;
}
.unl{
    display: inline-block;
    color: #fff;
    position: relative;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.mid-text-section {
    margin: 0 auto;
    position: relative;
    text-align: center;
    z-index: 9;
}
.section0 .mid-text-section,.mid-section3 {
    max-width: 600px;
    padding: 0 20px;
    }
.unl span{
    width: 0%;
    height: 20px;
    position: absolute;
    bottom: -12px;
    left: 6px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    overflow: hidden;
}
.unl span svg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
}
.green-box{
    display: inline-block;
    padding: 3px 10px 3px 4px;
    position: relative;
    vertical-align: bottom;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.green-box span{
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    overflow: hidden;
    right: 0px;
}
.green-box b, .white-box b{
    position: relative;
    z-index: 999;
    display: inline-block;
}
.green-box span svg{
    position: absolute;
    top: 0;
    width: 245px;
    right: 0px;
}
.white-box{
    display: inline-block;
    padding: 3px 25px 6px 20px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.white-box span{
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    overflow: hidden;
}
.white-box span svg{
    position: absolute;
    top: 0px;
    width: 549px;
    right: 0px;
}
.slide-img1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 17.26%;
}
.slide_home_board_white{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35.5%;
    opacity: 0;
}
.slide-img2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28%;
}
.slide_home_table_white{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33%;
    opacity: 0;
}
.blub-img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 54px;
    height: 22vh;
}
.blub-img svg{
    height: 100%;
}
.header-wrapper{
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1001;
    padding-left: 3.6458333vw;
    padding-right: 3.223vw;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -ms-transition:width 0.3s linear;
    transition:width 0.3s linear;
}
.header-wrapper:after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    width: 187px;
    text-decoration: none;
    position: relative;
}
.get-start-btn,.get-start-btn-2,.get-start-btn-3{
    width: 10vw;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 45px;
    z-index: 1001;
    font: 400 20px 'Poppins', Arial, Helvetica, sans-serif;
}

#home_start_btn{
    fill:#0b1b34;
    stroke:#FFFFFF;
}
.get-start-btn:hover #home_start_btn{
    fill: #fff;
}
.get-start-btn .get-start-btn-txt{
    fill: #fff;
}
.get-start-btn:hover .get-start-btn-txt{
    fill: #0b1b34;
}

.bulb_on .get-start-btn:hover #home_start_btn{
    fill:#0b1b34;
    stroke:#0b1b34;
}
.bulb_on .get-start-btn .get-start-btn-txt{
    fill: #0b1b34;
}
.bulb_on .get-start-btn:hover .get-start-btn-txt{
    fill: #fff;
}
.get-start-btn-2 #home_start_btn{
    fill:#fff;
    stroke:#0b1b34;
}
.get-start-btn-2:hover #home_start_btn{
    fill: #0b1b34;
}
.get-start-btn-2:hover .get-start-btn-txt{
    fill: #fff;
}
.get-start-btn-3 .get-start-btn-txt{
    fill: #fff;
}
.get-start-btn-3 #home_start_btn{
    fill:#0b1b34;
    stroke:#0b1b34;
}
.get-start-btn-3:hover #home_start_btn{
    fill:#fff;
    stroke:#fff;
}
.get-start-btn-3:hover .get-start-btn-txt{
    fill: #0b1b34;
}
.logo svg{
    width: 188px;
}
.menu-btn{
    width: 60px;
    height: 60px;
    float: right;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    top: -20px;
    right: -20px;
}
 
/* cross icon / animation */
.menu-btn span.hamburger {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -18px;
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.2, 1);
  -moz-transition: all 0.3s cubic-bezier(0.6, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.6, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.6, 0, 0.2, 1);
  -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
  transition-delay: 0.15s; }
  .menu-btn span.hamburger::after, .menu-btn span.hamburger::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: 0px;
    left: 50%;
    margin-left: -15px;
    -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.6, 0, 0.2, 1);
    -o-transition: all 0.3s cubic-bezier(0.6, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0.6, 0, 0.2, 1);
    -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
    transition-delay: 0.15s; }

.menu-btn span.hamburger::after {
  margin-top: -10px;
  top: 0;
  transition-delay: 0.27s; }

.menu-btn span.hamburger::before {
  margin-top: 10px;
  top: 0;
  transition-delay: 0.2s; }

.slideIn .menu-btn span.hamburger {
  transition-delay: 0.12s;
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  -ms-transform: translateX(80px);
  -o-transform: translateX(80px);
  transform: translateX(80px); }
  .slideIn .menu-btn span.hamburger::after, .slideIn .menu-btn span.hamburger::before {
    transition-delay: 0.12s;
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
    transform: translateX(80px); }
  .slideIn .menu-btn span.hamburger::after {
    transition-delay: 0s; }
  .slideIn .menu-btn span.hamburger::before {
    transition-delay: 0.07s; }

/* cross icon / animation */
.menu-btn span.cross::before, .menu-btn span.cross::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -19px;
  -webkit-transition: transform 0.3s cubic-bezier(0.6, 0, 0.2, 1);
  -moz-transition: transform 0.3s cubic-bezier(0.6, 0, 0.2, 1);
  -o-transition: transform 0.3s cubic-bezier(0.6, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.6, 0, 0.2, 1);
  -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
  -webkit-transform: translateY(-70px) translateX(-70px) rotate(45deg);
  -moz-transform: translateY(-70px) translateX(-70px) rotate(45deg);
  -ms-transform: translateY(-70px) translateX(-70px) rotate(45deg);
  -o-transform: translateY(-70px) translateX(-70px) rotate(45deg);
  transform: translateY(-70px) translateX(-70px) rotate(45deg);
  transition-delay: 0.12s; }

.menu-btn span.cross::after {
  transition-delay: 0s;
  -webkit-transform: translateY(-70px) translateX(70px) rotate(-45deg);
  -moz-transform: translateY(-70px) translateX(70px) rotate(-45deg);
  -ms-transform: translateY(-70px) translateX(70px) rotate(-45deg);
  -o-transform: translateY(-70px) translateX(70px) rotate(-45deg);
  transform: translateY(-70px) translateX(70px) rotate(-45deg); }

.slideIn .menu-btn span.cross::before {
  transition-delay: 0.12s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.slideIn .menu-btn span.cross::after {
  transition-delay: 0.24s;
  -webkit-transform: rotate(-45deg) !important;
  -moz-transform: rotate(-45deg) !important;
  -ms-transform: rotate(-45deg) !important;
  -o-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important; 
}
.bulb_on .menu-btn span.cross::before, 
.bulb_on .menu-btn span.cross::after,
.bulb_on .menu-btn span.hamburger::after, 
.bulb_on .menu-btn span.hamburger::before,
.bulb_on .menu-btn span.hamburger,


.fp-viewing-introduction .menu-btn span.cross::before, 
.fp-viewing-introduction .menu-btn span.cross::after,
.fp-viewing-introduction .menu-btn span.hamburger::after, 
.fp-viewing-introduction .menu-btn span.hamburger::before,
.fp-viewing-introduction .menu-btn span.hamburger,

.fp-viewing-problem .menu-btn span.cross::before, 
.fp-viewing-problem .menu-btn span.cross::after,
.fp-viewing-problem .menu-btn span.hamburger::after, 
.fp-viewing-problem .menu-btn span.hamburger::before,
.fp-viewing-problem .menu-btn span.hamburger,

.fp-viewing-answer .menu-btn span.cross::before, 
.fp-viewing-answer .menu-btn span.cross::after,
.fp-viewing-answer .menu-btn span.hamburger::after, 
.fp-viewing-answer .menu-btn span.hamburger::before,
.fp-viewing-answer .menu-btn span.hamburger,

.fp-viewing-relief .menu-btn span.cross::before, 
.fp-viewing-relief .menu-btn span.cross::after,
.fp-viewing-relief .menu-btn span.hamburger::after, 
.fp-viewing-relief .menu-btn span.hamburger::before,
.fp-viewing-relief .menu-btn span.hamburger,

.fp-viewing-story .menu-btn span.cross::before, 
.fp-viewing-story .menu-btn span.cross::after,
.fp-viewing-story .menu-btn span.hamburger::after, 
.fp-viewing-story .menu-btn span.hamburger::before,
.fp-viewing-story .menu-btn span.hamburger,

.fp-viewing-nowadays .menu-btn span.cross::before, 
.fp-viewing-nowadays .menu-btn span.cross::after,
.fp-viewing-nowadays .menu-btn span.hamburger::after, 
.fp-viewing-nowadays .menu-btn span.hamburger::before,
.fp-viewing-nowadays .menu-btn span.hamburger,

.fp-viewing-unravel .menu-btn span.cross::before, 
.fp-viewing-unravel .menu-btn span.cross::after,
.fp-viewing-unravel .menu-btn span.hamburger::after, 
.fp-viewing-unravel .menu-btn span.hamburger::before,
.fp-viewing-unravel .menu-btn span.hamburger,

.fp-viewing-lastwords .menu-btn span.cross::before, 
.fp-viewing-lastwords .menu-btn span.cross::after,
.fp-viewing-lastwords .menu-btn span.hamburger::after, 
.fp-viewing-lastwords .menu-btn span.hamburger::before,
.fp-viewing-lastwords .menu-btn span.hamburger
{
    background: #0b1b34;
}
.chat-icon{
    position: fixed;
    bottom: 3.1vw;
    right: 2.1vw;
    width: 62px;
    height: 62px;
    z-index: 100;
    display: none;
}
.fp-viewing-contact .logo2,
.fp-viewing-contact .logo3{
    fill: #ffffff;
}
.fp-viewing-home #fp-nav.right{
    visibility: hidden;
}
.pgh-2{
    font: 400 20px 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #11213b;
    margin: 0 0 0;
}
.year{
    font: normal 17.625vw 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    margin: 0 0 39px;
    position: relative;
    color: #0b1b34;
}
.year .line{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    content: '';
    background: #ffd908;
}
.year .line:after{
    width: 33.333%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0b1b34;
    content: '';
    height: 100%;
}
.year .line:before{
    width: 33.333%;
    position: absolute;
    top: 0;
    right: 0;
    background: #ff5050;
    content: '';
    height: 100%;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 14px;
    width: 14px;
    border: 0;
    background: none;
    border:2px solid #0a1b34;
    left: 50%;
    top: 50%;
    margin: -7px 0 0 -7px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 14px;
    width: 14px;
    margin: -7px 0 0 -7px;
    border-radius: 100%;
    background: #0a1b34;
    border: 1px solid #0a1b34;
}
.map-icons{
    position: absolute;
    width: 60.209vw;
    left: 50%;
    top: 10vh;
    max-width: 104vh;
    max-height: 80vh;
    transform: translateX(-50%);
}
.white_highlight{
    background-color: #fff;
    padding: 0 5px;
}
.grey-map{
    opacity: 0;
}
.border_underline{
    position: relative;
    display: inline-block;
}
.border_underline:after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: -3%;
    left: -2px;
    width: 0;
    height: 2px;
    background: #000;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.active .border_underline:after{
    width: calc( 100% + 4px);
    }
.line_un_1:after{
    transition-delay: .5s; 
}
.line_un_2:after{
    transition-delay: 1s; 
}
.line_un_3:after{
    transition-delay: 1.5s; 
}
.line_un_4:after{
    transition-delay: 2s; 
}
.line_un_5:after{
    transition-delay: 2.5s; 
}
.line_un_6:after{
    transition-delay: 3s; 
}
.line_un_7:after{
    transition-delay: 3.5s; 
}
.line_un_8:after{
    transition-delay: 4s; 
}
.line_un_9:after{
    transition-delay: 4.5s; 
}
.line_un_10:after{
    transition-delay: 5s; 
}
.line_un_11:after{
    transition-delay: 5.5s; 
}
.line_un_12:after{
    transition-delay: 6s; 
}
.red_br:after{
    background: #FF5050;
}
.white_br:after{
    background: #fff;
}
.green_br:after{
    background: #4fd899;
}
.black_br:after{
    background: #0b1b34;
}
.red_marked{
    position: relative;
    padding: 0 6px;
}
.green_marked{
    position: relative;
    padding: 0 6px;
}
.red_highlight{
    background: #FF5050;
    padding: 0 6px;
}
.green_highlight{
    background: #4fd899;
    padding: 0 6px;
}
.green_marked:after{
    position: absolute;
    top: 8%;
    left: 0;
    width: 0;
    height: 84%;
    background: #4fd899;
    content: "";
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.red_marked:after{
    position: absolute;
    top: 8%;
    left: 0;
    width: 0;
    height: 84%;
    background: #FF5050;
    content: "";
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.active .green_marked:after, .active .red_marked:after{
    width: 100%;
    }
.green_marked span, .red_marked span{
    position: relative;
    z-index: 5;
}
.keep_reading_arrow_wraper{
    position: relative;
}
.keep_reading_arrow{
    position: absolute;
    top: 24px;
    width: 11vw;
    right: 0vw;
}
.fp-viewing-introduction .grey-map{
    opacity: 0;
    animation: fade 4.2s;
    animation-delay: 1s;
}
#fp-nav.right{
    right: 3.1vw;
}

.map-2{
    width: 60.26vw;
    right: 0;
    top: 0;
    position: absolute;
}
.mid-section3 h2{
    font: 400 6.25em 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #0b1b34;
    margin: 0 0 50px;
}
.mid-section3 p{
    line-height: 1.7;
}
p{
    font: 300 20px 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #0b1b34;
}
#fp-nav.right {
    right: 3.1vw;
}
#fp-nav ul li:first-child{
    margin: 0;
    width: 30px;
    height: 30px;
}
h3{
    font: 400 30px 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #0b1b34;
    margin: 0;
}
.mid-section3 p{
    margin: 0 0 80px;
}
.mid-section3 h3 span{
    color: #4fd899;
}
.left-img{
    width: 285px;
    position: absolute;
    left: 7.5vw;
    bottom: 7vw;
    -webki-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition:all 0.15s linear;
    -moz-transition:all 0.15s linear;
    -ms-transition:all 0.15s linear;
    transition:all 0.15s linear;
    opacity: 0;
}
.right-img{
    width: 285px;
    position: absolute;
    right: 7.5vw;
    bottom: 7vw;
    -webki-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition:all 0.15s linear;
    -moz-transition:all 0.15s linear;
    -ms-transition:all 0.15s linear;
    transition:all 0.15s linear;
    opacity: 0;
    transition-delay: 1s;
}
.fp-viewing-problem .left-img{
    animation: moveicon 4.2s;
    animation-delay: 2s;
}
.fp-viewing-problem .right-img{
    animation: moveicon 4.2s;
    animation-delay: 2.2s;
}
@keyframes moveicon {
  0% {
    -webki-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  5% {
    -webki-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  95% {
    -webki-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webki-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
}
.mid-section4{
    float: left;
}
.mid-section4 h2{
    font: 400 27.625em 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #0b1b34;
    margin: 0;
}
.mid-section4 .belgium{
    margin: -24px 0 0;
}
.working-table{
    position: absolute;
    bottom: -7px;
    left: 46px;
}
.working-table img{
    width: 50.782vw;
}
.text-table {
    width: 44.5vw;
    float: right;
    padding-right: 7vw;
    margin-top: 3.1vw;
}
.text-table h2{
    font: 400 6.25em 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #0b1b34;
    margin: 0;
}
.text-table p{
    font: 300 1.1em 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #0b1b34;
    margin: 2vw 0 0;
}
.text-table p.white-txt{
    font: 400 1.5em 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #fff;
    margin: 2.34375vw 13vw 0 0;
}
.relief-section{
    float: left;
    margin-left: 10vw;
    position: relative;
    z-index: 1;
}
.img-section-relief{
    float: left;
    position: absolute;
    top: 10vh;
    right: 15.9vw;
    width: 29vw;
    transform: translateY(100%);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.img-section-relief svg{
    width: 100%;
    height: auto;
}
.fp-section.fp-table, .fp-slide.fp-table{
    overflow: hidden;
}
.story-table{
    width: 34.2vw;
    margin-left: 8.3vw;
    float: left;
    margin-top: 37px;
    margin-bottom: 37px;
}
.unravel-table{
    width: 48.7vw;
    margin-left: 2.8vw;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    transition-delay: 1s;
    opacity: 0;
}
.fp-viewing-unravel .unravel-table{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.last-word-table{
    width: 39.063vw;
    margin-left: 2.8vw;
    float: left;
    margin-bottom: 0;
    position: absolute;
    left: 0vw;
    top: 5vw;
    height: 100%;
}
.last-word-table svg{
    max-height: 100%;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
}
.contact-section{
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    padding: 0 20px;
}
.contact-section h2{
    font: 400 6.25em 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #ffffff;
    margin: 0;
}
.contact-section p{
    font: 400 20px 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #2857a3;
    margin: 12px 0 66px;
}
/*===============================================
=            Nowaday Slide animation            =
================================================*/
.nowaday-map{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%
}
.nowaday-map svg{
    position: absolute;
    right: 0px;
    height: 100%;
}
#now_a_day_border{
    stroke-width:0 !important;
}
#now_a_day_flag1{
    opacity: 0;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
    transition-delay: .8s;
}
.fp-viewing-nowadays #now_a_day_flag1{
    opacity: 1;
}
#now_a_day_flag2{
    opacity: 0;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
    transition-delay: 1s;
}
.fp-viewing-nowadays #now_a_day_flag2{
    opacity: 1;
}
.cloud_nowaday{
    opacity: 0;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
    transition-delay: 1.2s;
}
.fp-viewing-nowadays .cloud_nowaday{
    opacity: 1;
}
.bullets_nowaday1{
    opacity: 0;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
    transition-delay: 1.4s;
}
.fp-viewing-nowadays .bullets_nowaday1{
    opacity: 1;
}
.bullets_nowaday2{
    opacity: 0;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
    transition-delay: 1.4s;
}
.fp-viewing-nowadays .bullets_nowaday2{
    opacity: 1;
}
.bullets_nowaday3{
    opacity: 0;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
    transition-delay: 1.6s;
}
.fp-viewing-nowadays .bullets_nowaday3{
    opacity: 1;
}
.keep_reading_nowaday_arrow_wraper{
    position: relative;
    color: #4fd899 !important;
    font: 400 1.35em 'Montserrat', Arial, Helvetica, sans-serif !important;
    line-height: 1.2;
}
.keep_reading_arrow_nowaday{
    position: absolute;
    top: 50px;
    width: 7vw;
    left: 180px;
}
.contact-form{
    width: 100%;
    border-bottom: 2px solid #2857a3;
    position: relative;
}
.next-btn{
    width: 56px;
    height: 100%;
    display: block;
    position: absolute;
    border: 0;
    font-size: 0;
    line-height: 0;
    top: 0;
    right: 0;
    background: url(../img/arrow_contact.svg) no-repeat center center;
    background-size: 7px 12px;
    padding: 0;
}
.contact-form input[type="text"]{
    width: 100%;
    display: block;
    height: 88px;
    padding: 0 56px 0 22px;
    background: #0d213f;
    border: 0;
    font: 400 20px 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #fff;
}
:focus{
    outline: none;
}
.contact-form ::-webkit-input-placeholder {
   color: #fff;
}

.contact-form :-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.contact-form ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.contact-form :-ms-input-placeholder {  
   color: #fff;  
}
.progress-bar{
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    background: #4fd899;
}
.contact-pgh{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5vh;
    left: 0;
    font: 300 16px 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #4fd899;
}
.menu-bar{
    width: 23.958333vw;
    height: 100%;
    position: fixed;
    top: 0;
    right: -23.958333vw;
    background: #2857A3;
    padding: 3.38542vw 3.38542vw 0 3.125vw;
    z-index: 1001;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

.menu-bar .history{
    font: 400 1.75em 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    display: inline-block;
    margin-bottom: 40px;
    color: #fff;
    text-decoration: none;
}
.menu-bar ul{
    margin: 0;
    padding: .9675vw 0;
    list-style-type: none;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    counter-reset: my-badass-counter;
}
.menu-bar> ul > li:nth-child(1) {
    -webkit-transition-delay: 300ms, 300ms;
    transition-delay: 300ms, 300ms;
}
.menu-bar> ul > li:nth-child(2) {
    -webkit-transition-delay: 350ms, 350ms;
    transition-delay: 350ms, 350ms;
}
.menu-bar> ul > li:nth-child(3) {
    -webkit-transition-delay: 400ms, 400ms;
    transition-delay: 400ms, 400ms;
}
.menu-bar> ul > li:nth-child(4) {
    -webkit-transition-delay: 450ms, 450ms;
    transition-delay: 450ms, 450ms;
}
.menu-bar> ul > li:nth-child(5){
    -webkit-transition-delay: 500ms, 500ms;
    transition-delay: 500ms, 500ms;
}
.menu-bar> ul > li:nth-child(6) {
    -webkit-transition-delay: 550ms, 550ms;
    transition-delay: 550ms, 550ms;
}
.menu-bar> ul > li:nth-child(7) {
    -webkit-transition-delay: 600ms, 600ms;
    transition-delay: 600ms, 600ms;
}
.menu-bar> ul > li:nth-child(8) {
    -webkit-transition-delay: 650ms, 650ms;
    transition-delay: 650ms, 650ms;
}
.menu-bar> ul > li:nth-child(9) {
    -webkit-transition-delay: 700ms, 700ms;
    transition-delay: 700ms, 700ms;
}
.contact{
    -webkit-transition-delay: 750ms, 750ms;
    transition-delay: 750ms, 750ms;
}
.slideIn .menu-bar> ul > li,.slideIn  .contact{
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}
.menu-bar> ul > li, .contact{
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
    -webkit-transform: scale(1.05) translateY(-12px);
    transform: scale(1.05) translateY(-12px);
}
.menu-bar ul li a:after{
    content: '';
    height: 2px;
    width: 19px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
}
.contact{
    font: 400 1.75em 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    display: inline-block;
    margin-top: 40px;
    color: #fff;
    text-decoration: none;
}
.menu-bar ul li a {
    padding: .9675vw 40px;
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
    opacity: .5;
    font-size: 1vw;
}
.menu-bar ul li a:before {
    content: '0'counter(my-badass-counter);
    counter-increment: my-badass-counter;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    text-align: center;
}
body #fullpage{
    -webkit-transition:left 0.3s linear;
    -moz-transition:left 0.3s linear;
    -ms-transition:left 0.3s linear;
    transition:left 0.3s linear;
    position: relative;
    left: 0;
}
body.slideIn #fullpage{
    left: -23.858333vw;
}
body.slideIn .menu-bar{
    right: 0;
}
body.slideIn .header-wrapper{
    width: calc(100% - 23.958333vw);
}
.simform{
    padding: 0;
    position: relative;
}
.simform ol{
    height: 88px;
}
.simform ol:before{
    height: 100%;
    width: 100%;
    background: #0d213f;
}
.simform ol input[type="text"], .simform ol input[type="email"], .simform ol input[type="number"]{
    border: 0;
    padding: 0 56px 0 22px;
    font: 400 20px 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #fff;
    margin: 0;
    width: 100%;
    height: 88px;
}
body.slideIn .header-wrapper {
    width: calc(100% - 23.958333vw);
}
:focus{
    outline: none;
}
.simform ::-webkit-input-placeholder {
   color: #fff;
}

.simform :-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.simform ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.contact-form :-ms-input-placeholder {  
   color: #fff;  
}
.next.show{
    width: 56px;
    height: calc(100% - 6px);
    display: block;
    position: absolute;
    border: 0;
    font-size: 0;
    line-height: 0;
    top: 0;
    right: 0;
    bottom: auto;
    background: url(../img/arrow_contact.svg) no-repeat center center;
    background-size: 7px 12px;
    padding: 0;
}
.simform ol:after{
    width: 100%;
    height: 2px;
    background: #2857a3;
    content: '';
    display: block;
}
.simform .progress{
    position: relative;
    z-index: 1;
    background: #4fd899;
    height: 2px;
}
.simform .error-message{
    color: #4fd899;
}
.final-message{
    font: 300 16px 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #4fd899;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{
    width: 14px;
    height: 14px;
    margin: -7px 0 0 -7px;
    background: #0b1b34;
}
#fp-nav ul li .fp-tooltip.right {
    right: 45px;
    margin-top: -1px;
    background: #0b1b34;
    width: 182px;
    padding: 8px;
    font: 300 16px 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    text-align: center;
    display: block;
    text-transform: capitalize;
    top: -8px;
    border-radius: 17px;
    overflow: visible;
}
.fp-viewing-contact #fp-nav ul li .fp-tooltip.right{
    color: #0b1b34;
    background-color: #fff;
}
#fp-nav ul li .fp-tooltip.right:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 99%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 9px;
    border-color: transparent transparent transparent #0b1b34;
    margin-top: -6px;
    margin-left: -1px;
}
.fp-viewing-contact #fp-nav ul li .fp-tooltip.right:after{
    border-color: transparent transparent transparent #fff;
}
#fp-nav ul li, .fp-slidesNav ul li{
    margin: 32px 7px;
}
#fp-nav ul li a[href="#home"] span, .fp-slidesNav ul li a[href="#home"] span{
    width: 22px;
    height: 22px;
    border: 0;
    border-radius: 0;
    background: url(../img/home_icon.svg) no-repeat 0 0;
    background-size: 22px auto;
    margin: -11px 0 0 -11px;
}
#fp-nav ul li a[href="#contact"] span, .fp-slidesNav ul li a[href="#contact"] span{
    width: 22px;
    height: 15px;
    border: 0;
    border-radius: 0;
    background: url(../img/mail_icon.svg) no-repeat 0 0;
    background-size: 22px auto;
    margin: -8px 0 0 -11px;
}
.fp-viewing-contact #fp-nav ul li a span,.fp-viewing-contact  .fp-slidesNav ul li a span{
    border-color: #6184b7;
    opacity: .7;
}
.fp-viewing-contact #fp-nav ul li.active a span,.fp-viewing-contact  .fp-slidesNav.active ul li.active a span{
    opacity: 1;
}
.fp-viewing-contact #fp-nav ul li:hover a span,.fp-viewing-contact  .fp-slidesNav.active ul li:hover a span{
    opacity: 1;
}
#fp-nav ul li a[href="#home"] svg{
    margin-left: 3px;
    margin-top: 3px;
}
#fp-nav ul li:first-child .fp-tooltip.right{
    top: 0px;
}
#fp-nav ul li:last-child {
    margin: 0;
    width: 30px;
    height: 30px;
}
#fp-nav ul li:last-child .fp-tooltip.right{
    top: 0px;
}
#fp-nav ul li a[href="#contact"] svg{
    margin-left: 4px;
    margin-top: 7px;
}
.fp-viewing-unravel #fp-nav ul li a[href="#home"] svg path{
    fill: #fff;
}
.fp-viewing-unravel #fp-nav ul li a[href="#contact"] svg polygon{
    fill: #fff;
}
.fp-viewing-answer #fp-nav ul li a[href="#home"] svg path{
    fill: #fff;
}
.fp-viewing-answer #fp-nav ul li a[href="#contact"] svg polygon{
    fill: #fff;
}
.fp-viewing-contact #fp-nav ul li a[href="#home"] svg path{
    fill: #4fd899;
    stroke: none;
}
.fp-viewing-contact #fp-nav ul li a[href="#contact"] svg polygon{
    fill: #4fd899;
    stroke: none;
}
.text-table p.pgh-4{
    font: 400 20px 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.2;
}
.loader{
    position: fixed;
    z-index: 1010;
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.loader-img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#section3 h3{
    opacity: 0;
    opacity: 0;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    transition-delay: 2.5s;
}
#section3 h2, #section3 p{
    opacity: 0;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    transition-delay: 2s;
}
.fp-viewing-problem  #section3 h2, .fp-viewing-problem  #section3 p{
    opacity: 1;
}
.fp-viewing-problem  #section3 h3{
    opacity: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-name: bounce; 
    animation-name: bounce;
    animation-delay: 4s;
    -webkit-animation-iteration-count: 4; /* Safari 4.0 - 8.0 */
    animation-iteration-count: 4;
}
.fp-viewing-problem  #section3 h3.delay-6s{
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}
/*.animated { 
    background-image: url(/css/images/logo.png); 
    background-repeat: no-repeat;
    background-position: left top; 
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
 }*/
 .fp-viewing-problem .left-img.op0{
    opacity: 0;
 }
 .fp-viewing-problem .right-img.op0{
    opacity: 0;
 }
 .simform .number{
    display: none;
 }
 input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#theForm.invalid{
    -webkit-animation-duration: .4s;
    animation-duration: .4s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-name: bounce; 
    animation-name: bounce;
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-iteration-count: 1;
}
@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
}

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}
.left-img-2{
    width: 170px;
    position: absolute;
    top: 50%;
    left: 16.30208334vw;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.fp-viewing-problem .left-img-2{
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition-delay: 6.5s;
}
.left-img-2 svg{
    width: 100%;
    height: auto;
}
.right-img-2{
    width: 267px;
    position: absolute;
    top: 50%;
    right: 14vw;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.fp-viewing-problem .right-img-2{
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition-delay: 6.5s;
}
.right-img-2 svg{
    width: 100%;
    height: auto;
}
.fp-viewing-problem  #group-problem{
    opacity: 1;
    -webkit-animation: blink_animate 1s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
    animation: blink_animate 1s;
    animation-iteration-count: 3;

    -webkit-animation-delay: 7s; /* Safari 4.0 - 8.0 */
    animation-delay: 7s;
}
.right-img-2 {
    width: 267px;
    position: absolute;
    top: 50%;
    right: 14vw;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@keyframes blink_animate {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes blink_animate {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.angular-icon, .react-icon, .php-icon, .python-icon, .html5-icon{
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    position: relative;
}
.blub-icon{
    position: relative;
}
.fp-viewing-problem .angular-icon, .fp-viewing-problem .react-icon, .fp-viewing-problem .php-icon, .fp-viewing-problem .python-icon, .fp-viewing-problem .html5-icon{
    opacity: 1;
}
.fp-viewing-problem .html5-icon{
    transition-delay: 8.5s;
}
.fp-viewing-problem .php-icon{
    transition-delay: 9s;
}
.fp-viewing-problem .react-icon{
    transition-delay: 9.5s;
}
.fp-viewing-problem .angular-icon{
    transition-delay: 10s;
}
.fp-viewing-problem .python-icon{
    transition-delay: 10.5s;
}
.last-word-table{
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform-origin: 50% 0;
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    transition-delay: 1s;
}
.fp-viewing-lastwords .last-word-table{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.section8 #group-171,.section8 #group-172,.section8 #group-90-2,.section8 #group-90,.section8 #group-17-5,.section8 #group-164-2,.section8 #group-164,.section8 #group-17-3,.section8 #group-219{
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.section8 #group-171{
    transition-delay: 1.3s;
    -webkit-transform: translate(239.225px, 193.104px);
    -moz-transform: translate(239.225px, 193.104px);
    -ms-transform: translate(239.225px, 193.104px);
    transform: translate(239.225px, 193.104px);
}
.section8 #group-172{
    transition-delay: 1.6s;
    -webkit-transform: translate(241.306px, 591.361px);
    -moz-transform: translate(241.306px, 591.361px);
    -ms-transform: translate(241.306px, 591.361px);
    transform: translate(241.306px, 591.361px);
}
.section8 #group-90-2{
    transition-delay: 1.9s;
}
.section8 #group-90{
    transition-delay: 2.3s;
}
.section8 #group-17-5,.section8  #group-164-2{
    transition-delay: 2.7s;   
}
.section8 #group-164,.section8  #group-17-3{
    transition-delay: 3s;
}
.section8 #group-219{
    transition-delay: 3.3s;
}
.fp-viewing-lastwords #group-171,
.fp-viewing-lastwords #group-172,
.fp-viewing-lastwords #group-90-2,
.fp-viewing-lastwords #group-90,
.fp-viewing-lastwords #group-164-2,
.fp-viewing-lastwords #group-17-5,
.fp-viewing-lastwords #group-17-3,
.fp-viewing-lastwords #group-164,
.fp-viewing-lastwords #group-219{
    opacity: 1;
}
.fp-viewing-lastwords #group-171{
    -webkit-transform: translate(239.225px, 163.104px);
    -moz-transform: translate(239.225px, 163.104px);
    -ms-transform: translate(239.225px, 163.104px);
    transform: translate(239.225px, 163.104px);

}
.fp-viewing-lastwords #group-172{
    -webkit-transform: translate(241.306px, 531.361px);
    -moz-transform: translate(241.306px, 531.361px);
    -ms-transform: translate(241.306px, 531.361px);
    transform: translate(241.306px, 531.361px);
}
/*.fp-viewing-lastwords #group-219{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}*/
.section8 #line-20-4{
    transform: translate(13.9px, 92.4px) scale(0);
    transform-origin: bottom left;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    transition-delay: 3.5s;
}
.section8 #line-21-4{
    transform: translate(351.5px, 94.9px) scale(0);
    transform-origin: top left;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    transition-delay: 4.0s;
}
.section8 #line-22-4{
    transform: translate(464.5px, 6px) scale(0);
    transform-origin: bottom left;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    transition-delay: 4.3s;
}
.fp-viewing-lastwords #line-20-4{
    transform: translate(13.9px, 92.4px) scale(1);
}
.fp-viewing-lastwords #line-21-4{
    transform: translate(351.5px, 94.9px) scale(1);
}
.fp-viewing-lastwords #line-22-4{
    transform: translate(464.5px, 6px) scale(1);
}
.section8 #path-44-4,.section8 #path-45-4,.section8 #line-23-3{
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    
}
.section8 #path-44-4{
    transition-delay: 3.8s;
}
.section8 #path-45-4{
    transition-delay: 4.2s;
}
.section8 #line-23-3{
    transition-delay: 4.3s;
}
.fp-viewing-lastwords #path-44-4, .fp-viewing-lastwords #path-45-4, .fp-viewing-lastwords #line-23-3{
    opacity: 1;
}
/*===============================================
=            Home Slide animation            =
================================================*/
.fp-viewing-home #language_c{
    opacity: 1;
    transition-delay: .6s;
}
.fp-viewing-home #language_hash{
    opacity: 1;
    transition-delay: .9s;
}
.fp-viewing-home #language_angular{
    opacity: 1;
    transition-delay: 1.1s;
}
.fp-viewing-home #language_html5{
    opacity: 1;
    transition-delay: 1.3s;
}
.fp-viewing-home .unl{
    color: #FF5050;
    transition-delay: 1.4s;
}
.fp-viewing-home .unl span{
    width: 100%;
    transition-delay: 1.3s;
}
.fp-viewing-home .green-box{
    color: #0b1b34;
    transition-delay: 2s;
}
.fp-viewing-home .green-box span{
    width: 100%;
    transition-delay: 1.8s;
}
@keyframes developer_color {
  0%   { color: #fff; }
  53%   { color: #fff; }
  58%  { color: #0b1b34;}
  100% { color: #0b1b34; }
}
@-o-keyframes developer_color{
  0%   { color: #fff; }
  53%   { color: #fff; }
  58%  { color: #0b1b34;}
  100% { color: #0b1b34; }
}
@-moz-keyframes developer_color{
  0%   { color: #fff; }
  53%   { color: #fff; }
  58%  { color: #0b1b34;}
  100% { color: #0b1b34; }
}
@-webkit-keyframes developer_color{
  0%   { color: #fff; }
  53%   { color: #fff; }
  58%  { color: #0b1b34;}
  100% { color: #0b1b34; }
}
.fp-viewing-home .white-box{
    -webkit-animation: developer_color 5s ease-in-out;
    -moz-animation: developer_color 5s ease-in-out;
    -o-animation: developer_color 5s ease-in-out;
    animation: developer_color 5s ease-in-out;
    color: #0b1b34;
}
.white-box{
    color: #0b1b34;
}
.bulb_on .white-box b{
    color: #fff;
}
.fp-viewing-home .white-box span{
    width: 100%;
    transition-delay: 2.7s;
}
.developers_txt{
    fill:#ffffff;
}
/*.fp-viewing-home .section0{
    background-color: #ffffff !important;
    transition-delay: 4s;   
}*/
.bulb_on .section0{
    background-color: #ffffff !important; 
}
/*.fp-viewing-home .mid-text-section h1{
    color: #0b1b34;
    transition-delay: 4s;  
}*/
.bulb_on .mid-text-section h1{
    color: #0b1b34; 
}
/*.fp-viewing-home .str-pgh{
    color: #0b1b34;
    transition-delay: 4s;      
}*/
.bulb_on .str-pgh{
    color: #0b1b34;     
}
/*.fp-viewing-home .developers_txt{
    fill:#0b1b34;
    transition-delay: 4s; 
}*/
.bulb_on .developers_txt{
    fill:#0b1b34;
}
#lamp_white{
    opacity: 0;
}
/*.fp-viewing-home #lamp_white{
    opacity: 1;
    transition-delay: 4s; 
}*/
.bulb_on #lamp_white{
    opacity: 1;
}
/*.fp-viewing-home #lamp_blue{
    opacity: 0;
    transition-delay: 4s; 
}*/
.bulb_on #lamp_blue{
    opacity: 0;
}
@keyframes code_monitor {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes code_monitor{
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes code_monitor{
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes code_monitor{
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
#code_monitor{
    -webkit-animation: code_monitor 1.5s ease-in-out 4;
    -moz-animation: code_monitor 1.5s ease-in-out 4;
    -o-animation: code_monitor 1.5s ease-in-out 4;
    animation: code_monitor 1.5s ease-in-out 4;
}
/*.fp-viewing-home .slide_home_board_white{
    opacity: 1;
    transition-delay: 4s; 
}*/
.bulb_on .slide_home_board_white{
    opacity: 1;
}
/*.fp-viewing-home .slide-img1{
    opacity: 0;
    transition-delay: 4s; 
}*/
.bulb_on .slide-img1{
    opacity: 0;
}
/*.fp-viewing-home .slide_home_table_white{
    opacity: 1;
    transition-delay: 4s; 
}*/
.bulb_on .slide_home_table_white{
    opacity: 1;
}
/*.fp-viewing-home .slide-img2{
    opacity: 0;
    transition-delay: 4s; 
}*/
.bulb_on .slide-img2{
    opacity: 0;
}
/*.fp-viewing-home #home_start_btn{
    fill: none;
    stroke: #0b1b34;
    transition-delay: 4s; 
}*/
.bulb_on #home_start_btn{
    fill: #fff;
    stroke: #0b1b34;
}
/*.fp-viewing-home .get-start-btn{
    color: #0b1b34;
    transition-delay: 4s; 
}*/
.bulb_on .get-start-btn{
    color: #0b1b34;
}
/*.fp-viewing-home .logo2, .fp-viewing-home .logo3{
    fill: #0b1b34;
    transition-delay: 4s;    
}*/
.bulb_on .logo2, .bulb_on .logo3{
    fill: #0b1b34;
}
.fp-viewing-introduction .logo2,.fp-viewing-introduction .logo3,
.fp-viewing-problem .logo2,.fp-viewing-problem .logo3,
.fp-viewing-answer .logo2,.fp-viewing-answer .logo3,
.fp-viewing-relief .logo2,.fp-viewing-relief .logo3,
.fp-viewing-story .logo2,.fp-viewing-story .logo3,
.fp-viewing-nowadays .logo2,.fp-viewing-nowadays .logo3,
.fp-viewing-unravel .logo2,.fp-viewing-unravel .logo3,
.fp-viewing-lastwords .logo2,.fp-viewing-lastwords .logo3{
    fill: #0b1b34;
}
.logo_white .logo2,.logo_white .logo3{
    fill: #fff !important;
}
.logo_blue .logo2, .logo_blue .logo3{
    fill: #0b1b34 !important;
}
/*===============================================
=            Story Slide animation            =
================================================*/
#story_man,#clock,.story_arrows,.pager_roaled,#story_page_bulb, #code_page_double,
#story_page_js,#story_code_paper,#happy_man,#paper_js_double,#angular_js_page,#bulb_page_double,#king_page_double,
#magento_page_double,#html_page_double,#section6 .text-table,#language_c,#language_hash,#language_angular,
#language_html5{
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.fp-viewing-story #clock{
    opacity: 1;
    transition-delay: .4s;
}
.story_arrows{
   transform-origin:  50% 50%;
}

.fp-viewing-story #clock{
    opacity: 1;
    transition-delay: .4s;
}
.fp-viewing-story #paper_js_double{
    opacity: 1;
    transition-delay: 6s;   
}
.fp-viewing-story #angular_js_page{
    opacity: 1;
    transition-delay: 6.2s;   
}
.fp-viewing-story #code_page_double{
    opacity: 1;
    transition-delay: 6.4s;   
}
.fp-viewing-story #bulb_page_double{
    opacity: 1;
    transition-delay: 6.6s;   
}
.fp-viewing-story #king_page_double{
    opacity: 1;
    transition-delay: 6.8s;   
}
.fp-viewing-story #magento_page_double{
    opacity: 1;
    transition-delay: 7s;   
}
.fp-viewing-story #html_page_double{
    opacity: 1;
    transition-delay: 7.2s;   
}
.fp-viewing-story #section6 .text-table{
    opacity: 1;
   transition-delay: .6s;
}
@keyframes story_arrows {
  0%   { opacity: 0; transform: rotate(0deg);}
  20%  { opacity: 0; transform: rotate(0deg);}
  25%  { opacity: 1; transform: rotate(0deg);}
  30%  { opacity: 1; transform: rotate(180deg);}
  90%  { opacity: 1;  transform: rotate(180deg);}
  100% { opacity: 1; transform: rotate(180deg); }
}
@-o-keyframes story_arrows{
  0%   { opacity: 0; transform: rotate(0deg);}
  20%  { opacity: 0; transform: rotate(0deg);}
  25%  { opacity: 1; transform: rotate(0deg);}
  30%  { opacity: 1; transform: rotate(180deg);}
  90%  { opacity: 1;  transform: rotate(180deg);}
  100% { opacity: 1; transform: rotate(180deg); }
}
@-moz-keyframes story_arrows{
  0%   { opacity: 0; transform: rotate(0deg);}
  20%  { opacity: 0; transform: rotate(0deg);}
  25%  { opacity: 1; transform: rotate(0deg);}
  30%  { opacity: 1; transform: rotate(180deg);}
  90%  { opacity: 1;  transform: rotate(180deg);}
  100% { opacity: 1; transform: rotate(180deg); }
}
@-webkit-keyframes story_arrows{
  0%   { opacity: 0; transform: rotate(0deg);}
  20%  { opacity: 0; transform: rotate(0deg);}
  25%  { opacity: 1; transform: rotate(0deg);}
  30%  { opacity: 1; transform: rotate(180deg);}
  90%  { opacity: 1;  transform: rotate(180deg);}
  100% { opacity: 1; transform: rotate(180deg); }
}
.story_arrows{
    transform: rotate(180deg);
    opacity: 1;
}
.fp-viewing-story .story_arrows{
    opacity: 1;
    transform: rotate(180deg);
    -webkit-animation: story_arrows 14s;
    -moz-animation: story_arrows 14s;
    -o-animation: story_arrows 14s;
    animation: story_arrows 14s;
}
.fp-viewing-story .story_arrow_top {
    -webkit-transition:all 1.2s ease-in-out;
    -moz-transition:all 1.2s ease-in-out;
    -ms-transition:all 1.2s ease-in-out;
    transition:all 1.2s ease-in-out;
    transition-delay: 3s;
    fill: #4fd899;
}
.fp-viewing-story .story_arrow_line{
    -webkit-transition:all 1.2s ease-in-out;
    -moz-transition:all 1.2s ease-in-out;
    -ms-transition:all 1.2s ease-in-out;
    transition:all 1.2s ease-in-out;
    transition-delay: 3s;
    stroke: #4fd899;
}
@keyframes story_man {
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  60%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes story_man{
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  60%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes story_man{
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  60%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes story_man{
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  60%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

.fp-viewing-story #story_man{
    -webkit-animation: story_man 5s;
    -moz-animation: story_man 5s;
    -o-animation: story_man 5s;
    animation: story_man 5s;
}
#happy_man{
    transform: scale(1.1);
}
.fp-viewing-story #happy_man{
    opacity: 1;
    transition-delay: 5s;
}
@keyframes pager_roaled {
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  60%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes pager_roaled{
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  60%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes pager_roaled{
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  60%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes pager_roaled{
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  60%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
.fp-viewing-story .pager_roaled{
    -webkit-animation: pager_roaled 5s;
    -moz-animation: pager_roaled 5s;
    -o-animation: pager_roaled 5s;
    animation: pager_roaled 5s;
}
@keyframes story_page_bulb {
  0%   { opacity: 0; }
  20%  { opacity: 0; }
  30%  { opacity: 1; }
  90%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes story_page_bulb{
  0%   { opacity: 0; }
  20%  { opacity: 0; }
  30%  { opacity: 1; }
  90%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes story_page_bulb{
  0%   { opacity: 0; }
  20%  { opacity: 0; }
  30%  { opacity: 1; }
  90%  { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes story_page_bulb{
  0%   { opacity: 0; }
  20%  { opacity: 0; }
  30%  { opacity: 1; }
  90%  { opacity: 1; }
  100% { opacity: 0; }
}
.fp-viewing-story #story_page_bulb{
    -webkit-animation: story_page_bulb 5s;
    -moz-animation: story_page_bulb 5s;
    -o-animation: story_page_bulb 5s;
    animation: story_page_bulb 5s;
}
@keyframes story_page_js {
  0%   { opacity: 0; }
  40%  { opacity: 0; }
  50%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes story_page_js{
  0%   { opacity: 0; }
  40%  { opacity: 0; }
  50%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes story_page_js{
  0%   { opacity: 0; }
  40%  { opacity: 0; }
  50%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes story_page_js{
  0%   { opacity: 0; }
  40%  { opacity: 0; }
  50%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
.fp-viewing-story #story_page_js{
    -webkit-animation: story_page_js 5s;
    -moz-animation: story_page_js 5s;
    -o-animation: story_page_js 5s;
    animation: story_page_js 5s;
}
@keyframes story_code_paper {
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  53%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes story_code_paper{
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  53%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes story_code_paper{
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  53%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes story_code_paper{
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  53%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
.fp-viewing-story #story_code_paper{
    -webkit-animation: story_code_paper 5s;
    -moz-animation: story_code_paper 5s;
    -o-animation: story_code_paper 5s;
    animation: story_code_paper 5s;
}
.clock_hours{
    transform: translate(2px, 35px) rotate(-190deg);
    transform-origin: 0px 0px;
}
@keyframes clock_hours {
  0%   { transform: translate(2px, 35px) rotate(-190deg); }
  20%  { transform: translate(2px, 35px) rotate(100deg); }
  100% { transform: translate(2px, 35px) rotate(-190deg); }
}
@-o-keyframes clock_hours{
  0%   { transform: translate(2px, 35px) rotate(-190deg); }
  20%  { transform: translate(2px, 35px) rotate(100deg); }
  100% { transform: translate(2px, 35px) rotate(-190deg); }
}
@-moz-keyframes clock_hours{
  0%   { transform: translate(2px, 35px) rotate(-190deg); }
  20%  { transform: translate(2px, 35px) rotate(100deg); }
  100% { transform: translate(2px, 35px) rotate(-190deg); }
}
@-webkit-keyframes clock_hours{
  0%   { transform: translate(2px, 35px) rotate(-190deg); }
  20%  { transform: translate(2px, 35px) rotate(100deg); }
  100% { transform: translate(2px, 35px) rotate(-190deg); }
}
.fp-viewing-story .clock_hours{
    -webkit-animation: clock_hours 14s;
    -moz-animation: clock_hours 14s;
    -o-animation: clock_hours 14s;
    animation: clock_hours 14s;
}
.clock_mins{
    transform: translate(2px, 0px) rotate(-290deg);
    transform-origin: 0px 100%;
}
@keyframes clock_mins {
  0%   { transform: translate(2px, 0px) rotate(-290deg); }
  20%  { transform: translate(2px, 0px) rotate(300deg); }
  100% { transform: translate(2px, 0px) rotate(-290deg); }
}
@-o-keyframes clock_mins{
  0%   { transform: translate(2px, 0px) rotate(-290deg); }
  20%  { transform: translate(2px, 0px) rotate(300deg); }
  100% { transform: translate(2px, 0px) rotate(-290deg); }
}
@-moz-keyframes clock_mins{
  0%   { transform: translate(2px, 0px) rotate(-290deg); }
  20%  { transform: translate(2px, 0px) rotate(300deg); }
  100% { transform: translate(2px, 0px) rotate(-290deg); }
}
@-webkit-keyframes clock_mins{
  0%   { transform: translate(2px, 0px) rotate(-290deg); }
  20%  { transform: translate(2px, 0px) rotate(300deg); }
  100% { transform: translate(2px, 0px) rotate(-290deg); }
}
.fp-viewing-story .clock_mins{
    -webkit-animation: clock_mins 14s;
    -moz-animation: clock_mins 14s;
    -o-animation: clock_mins 14s;
    animation: clock_mins 14s;
}
@keyframes clock_color {
  0%   { fill: #ff5050; }
  18%  { fill: #ff5050; }
  25%  { fill: #4fd899; }
  100% { fill: #4fd899; }
}
@-o-keyframes clock_color{
  0%   { fill: #ff5050; }
  18%  { fill: #ff5050; }
  25%  { fill: #4fd899; }
  100% { fill: #4fd899; }
}
@-moz-keyframes clock_color{
  0%   { fill: #ff5050; }
  18%  { fill: #ff5050; }
  25%  { fill: #4fd899; }
  100% { fill: #4fd899; }
}
@-webkit-keyframes clock_color{
  0%   { fill: #ff5050; }
  18%  { fill: #ff5050; }
  25%  { fill: #4fd899; }
  100% { fill: #4fd899; }
}
.fp-viewing-story .clock_inner{
    fill: #4fd899;
    -webkit-animation: clock_color 14s ease-in-out;
   -moz-animation: clock_color 14s ease-in-out;
   -o-animation: clock_color 14s ease-in-out;
    animation: clock_color 14s ease-in-out;
}
/*===============================================
=            Answer Slide animation            =
================================================*/
.section4 .fp-tableCell{
    position: relative;
}
.answer-table{
    bottom: -10px;
    left: 4vw;
    width: 45vw;
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    position: absolute;
}
.answer-table svg{
    position: absolute;
    bottom: 0;
    max-height: 90vh;
}
.fp-viewing-answer .answer-table{
    opacity: 1;
    transition-delay: .3s;
}
#answer_board_graph_arrow{
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
 #answer_board_graph_bottom{
    stroke: #0d1c33;
    fill:none;
    stroke-width:10px;
 }
.fp-viewing-answer #answer_board_graph_bottom{
    stroke-dashArray: 300;
    stroke-dashoffset: 0;
    -webkit-animation: answer_board_graph_bottom 3s linear forwards;
   -moz-animation: answer_board_graph_bottom 3s linear forwards;
   -o-animation: answer_board_graph_bottom 3s linear forwards;
    animation: answer_board_graph_bottom 3s linear forwards;
        
}
@-webkit-keyframes answer_board_graph_bottom{
  0%   { stroke-dashoffset: 300; }
  100% { stroke-dashoffset: 0; }
}
.fp-viewing-answer #answer_board_graph_arrow{
    opacity: 1;
    transition-delay: 2.2s;
}
@keyframes answer_coding_screen {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes answer_coding_screen{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes answer_coding_screen{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes answer_coding_screen{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.fp-viewing-answer #answer_coding_screen{
    opacity: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: answer_coding_screen;
    animation-name: answer_coding_screen;
    animation-delay: .2s;
    -webkit-animation-iteration-count: 5;
    animation-iteration-count: 5;
}
@-webkit-keyframes answer_screen_block {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes answer_screen_block {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes answer_screen_block {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#answer_screen_block1 {
    animation-name: answer_screen_block;
    animation-delay: 1.5s;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
    -webkit-animation-name: answer_screen_block;
    opacity: 1;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
#answer_screen_block2 {
    opacity: 1;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: answer_screen_block;
    animation-name: answer_screen_block;
    animation-delay: .7s;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
}
#answer_screen_block3 {
    opacity: 1;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: answer_screen_block;
    animation-name: answer_screen_block;
    animation-delay: 1s;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
}
/*===============================================
=            Unravel Slide animation            =
================================================*/

.section7 #group-90, .section7 #path-84, .section7 #group-164, .section7 #group-90-2, .section7 #group-163, .section7 #group-216, .section7 #group-122, .section7 #group-120, .section7 #group-120, .section7 #group-218, .section7 #group-217, .section7 #ellipse-9-3, .section7 #ellipse-9-4, .section7 #group-129, .section7 #group-129-2, .section7 #path-69, .section7 #path-69-2, .section7 #group-161, .section7 #path-64-3, .section7 #group-44-2{
    opacity: 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.fp-viewing-unravel #path-99{
    stroke-dashArray: 320;
    stroke-dashoffset: -320;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration: 1;

    animation-name: DrawLine;
    animation-duration: 1s;
    animation-delay: 1s;
}
.fp-viewing-unravel #path-104{
    stroke-dashArray: 1000;
    stroke-dashoffset: 1000;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration: 1;

    animation-name: DrawLine;
    animation-duration: 1s;
    animation-delay: 2s;
}
.fp-viewing-unravel #path-102{
    stroke-dashArray: 1000;
    stroke-dashoffset: 1000;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration: 1;

    animation-name: DrawLine;
    animation-duration: 1s;
    animation-delay: 3s;
}
.fp-viewing-unravel #path-105{
    stroke-dashArray: 1000;
    stroke-dashoffset: 1000;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration: 1;

    animation-name: DrawLine;
    animation-duration: 1s;
    animation-delay: 4s;

}
.fp-viewing-unravel #path-101{
    stroke-dashArray: 1000;
    stroke-dashoffset: -1000;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration: 1;

    animation-name: DrawLine;
    animation-duration: 1s;
    animation-delay: 5s;

}
.fp-viewing-unravel #group-129, .fp-viewing-unravel #path-69, .fp-viewing-unravel #group-161, .fp-viewing-unravel #path-69-2, .fp-viewing-unravel #group-123, .fp-viewing-unravel #group-129-2, .fp-viewing-unravel #path-84, .fp-viewing-unravel #group-218, .section7 #path-64-3, .fp-viewing-unravel #group-44-2, .fp-viewing-unravel #ellipse-9-4{
    transition-delay: 1.5s;
    opacity: 1;
}
.fp-viewing-unravel #group-120{
    transition-delay: 1.7s;
    opacity: 1;
}
.fp-viewing-unravel #group-164{
    transition-delay: 1.8s;
    opacity: 1;
}
.fp-viewing-unravel #group-216, .section7 #group-217{
    transition-delay: 2.1s;
    opacity: 1;
}
.fp-viewing-unravel #group-122{
    transition-delay: 2.2s;
    opacity: 1;
}
.fp-viewing-unravel #group-90-2{
    transition-delay: 2.5s;
    opacity: 1;
}
.fp-viewing-unravel #group-163{
    transition-delay: 2.1s;
    opacity: 1;
}
.fp-viewing-unravel #ellipse-9-3{
    transition-delay: 2.1s;
    opacity: 1.5;
}
.fp-viewing-unravel #path-69,.fp-viewing-unravel #path-69-2{
    opacity: 1;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeFast;
    animation-name: fadeFast;
    animation-delay: 1s;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
}
.fp-viewing-unravel #group-129, .fp-viewing-unravel #group-129-2, .fp-viewing-unravel #group-161{
    opacity: 1;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeFast;
    animation-name: fadeFast;
    animation-delay: 1s;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
}
.fp-viewing-relief .img-section-relief{
    transform: translateY(0);
    transition-delay: 1s;
}
.section5 #group-135, .section5 #group-15, .section5 #group{
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    visibility: hidden;
}
.section5 #group-260, .section5 #group-156-2, .section5 #group-259, .section5 #group-258, .section5 #group-156, .section5 #group-256, .section5 #group-253, .section5 #group-252, .section5 #group-252, .section5 #group-254, .section5 #group-255, .section5 #group-255, .section5 #group-191{
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    opacity: 0;
}
.section5 #group-146{
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    opacity: 0;
    -webkit-transform: translate(1207.97px, 85.5px);
    -ms-transform: translate(1207.97px, 85.5px);
    -o-transform: translate(1207.97px, 85.5px);
    transform: translate(1207.97px, 85.5px);
}
.section5 #group-153{
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    opacity: 0;
    -webkit-transform: translate(1172.362px, 162.748px);
    -ms-transform: translate(1172.362px, 162.748px);
    -o-transform: translate(1172.362px, 162.748px);
    transform: translate(1172.362px, 162.748px);
}
.section5 #group-152{
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    opacity: 0;
    -webkit-transform: translate(1251.199px, 157.341px);
    -ms-transform: translate(1251.199px, 157.341px);
    -o-transform: translate(1251.199px, 157.341px);
    transform: translate(1251.199px, 157.341px);
}
.section5 .relief-section{
    opacity: 0;
}
.fp-viewing-relief #group-135, .fp-viewing-relief #group-15, .fp-viewing-relief #group{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.fp-viewing-relief #group-135{
    transition-delay: 1s;
    visibility: visible;
}
.fp-viewing-relief .relief-section{
    transition-delay: 0.7s;
    opacity: 1;
}
.fp-viewing-relief #group-15{
    transition-delay: 1.2s;
    visibility: visible;
}
.fp-viewing-relief #group{
    transition-delay: 1.4s;
    visibility: visible;
}
.fp-viewing-relief  #group-192{
    transition-delay: 1.6s;
    opacity: 1;
}
.fp-viewing-relief #group-260{
    transition-delay: 1.6s;
    opacity: 1;
}
.fp-viewing-relief #group-156-2{
    transition-delay: 1.8s;
    opacity: 1;
}
.fp-viewing-relief #group-259{
    transition-delay: 2s;
    opacity: 1;
}
.fp-viewing-relief #group-258{
    transition-delay: 2.2s;
    opacity: 1;
}
.fp-viewing-relief #group-156{
    transition-delay: 2.4s;
    opacity: 1;
}
.fp-viewing-relief #group-256{
    transition-delay: 2.6s;
    opacity: 1;
}
.fp-viewing-relief #group-146{
    transition-delay: 2.8s;
    opacity: 1;
    -webkit-transform: translate(1207.97px, 125.5px);
    -ms-transform: translate(1207.97px, 125.5px);
    -o-transform: translate(1207.97px, 125.5px);
    transform: translate(1207.97px, 125.5px);
}
.fp-viewing-relief #group-153{
    transition-delay: 3s;
    opacity: 1;
    -webkit-transform: translate(1172.362px, 202.748px);
    -ms-transform: translate(1172.362px, 202.748px);
    -o-transform: translate(1172.362px, 202.748px);
    transform: translate(1172.362px, 202.748px);
}
.fp-viewing-relief #group-152{
    transition-delay: 3.2s;
    opacity: 1;
    -webkit-transform: translate(1251.199px, 197.341px);
    -ms-transform: translate(1251.199px, 197.341px);
    -o-transform: translate(1251.199px, 197.341px);
    transform: translate(1251.199px, 197.341px);
}
.fp-viewing-relief #group-61{
    opacity: 1;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeFast;
    animation-name: fadeFast;
    animation-delay: 1s;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
}
.fp-viewing-relief #group-253, .fp-viewing-relief #group-252, .fp-viewing-relief #group-252, .fp-viewing-relief #group-254, .fp-viewing-relief #group-255, .fp-viewing-relief #group-255, .fp-viewing-relief #group-191{
    transition-delay: 3.5s;
    opacity: 1;
}
@keyframes fadeFast {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes fadeFast{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeFast{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeFast{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@keyframes DrawLine {
  to { stroke-dashoffset: 0; }
}
.line-1, .line-2, .line-3{
    height: 0;
}
.fp-viewing-introduction .line-1,.fp-viewing-introduction .line-2,.fp-viewing-introduction .line-3{
    height: 0;
    animation: heightanimate 1.3s;
    animation-delay: 2.6s;
}
.section1 .section2-g-wrapper{
    opacity: 1;
}
.fp-viewing-introduction .section2-g-wrapper{
    animation: fade 2.5s;
    animation-delay: 2.2s;
    opacity: 0;
}
@keyframes heightanimate {
  0% {
    height: 0
  }
  20% {
    height: 25px;
  }
  80% {
    height: 25px;
  }
  100% {
    height: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.section1-2{
    opacity: 0;
    visibility: hidden;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.section1-2:after{
    content: '';
    display: table;
    clear: both;
}
.fp-viewing-introduction .section1-2{
    opacity: 1;
    visibility: visible;
    transition-delay: 4.5s;
}
.fp-viewing-introduction .mid-section4{
    opacity: 1;
    transition-delay: 5s;
    transform: translateX(0);
}
.full-map{
    position: absolute;
    top: 0;
    right: 0;
    width: 78.28125vw;
    height: 100%;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    opacity: 0;
}
.full-map svg{
    width: 100%;
}
.fp-viewing-introduction .full-map{
    opacity: 1;
    transition-delay: 5s;
}
.map-part-4{
    fill: #ffffff;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.mid-section4{
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

.fp-viewing-introduction .map-part-4{
    fill: #e2e2e2;
    transition-delay: 5.3s;
}
.flag1{
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    -webkit-transform: translate(150px, -256px);
    -ms-transform: translate(150px, -256px);
    -o-transform: translate(150px, -256px);
    transform: translate(150px, -256px);
}
.flag2{
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    -webkit-transform: translate(700px, -256px);
    -ms-transform: translate(700px, -256px);
    -o-transform: translate(700px, -256px);
    transform: translate(700px, -256px);
}
.fp-viewing-introduction .flag1{
    transition-delay: 5.6s;
    -webkit-transform: translate(150px, 234px);
    -ms-transform: translate(150px, 234px);
    -o-transform: translate(150px, 234px);
    transform: translate(150px, 234px);
}
.fp-viewing-introduction .flag2{
    transition-delay: 5.8s;
    -webkit-transform: translate(700px, 234px);
    -ms-transform: translate(700px, 234px);
    -o-transform: translate(700px, 234px);
    transform: translate(700px, 234px);
}

/*=====  End of Unravel Slide animation  ======*/



/* =====
=====================================================================
   Helper classes
   ========================================================================== */
 
.hidden {
    display: none !important;
}
 
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
 
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
 
.invisible {
    visibility: hidden;
}
 
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (min-width: 1025px) {
    a{
        -webkit-transition:all 0.25s ease-in-out;
        -moz-transition:all 0.25s ease-in-out;
        -ms-transition:all 0.25s ease-in-out;
        transition:all 0.25s ease-in-out;
    }
    .menu-bar ul li a:hover{
        opacity: 1;
    }
    .logo:after{
         position: absolute;
         content: "";
         bottom: -10px;
         left: 0px;
         width: 100%;
         opacity: 0;
         height: 3px;
         background-color: #d00031;
        -webkit-transition:all 0.05s ease-in-out;
        -moz-transition:all 0.05s ease-in-out;
        -ms-transition:all 0.05s ease-in-out;
        transition:all 0.05s ease-in-out;
    }
    .logo:hover:after{
        opacity: 1;
    }
}
@media only screen and (max-width: 1200px) {
    .menu-bar ul li a{
        padding: 14px 0px 14px 40px;
        font-size: 17px;
    }
    .menu-bar ul li a:before{
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 30px;
    }
    .menu-bar{
        width: 270px;
        right: -270px;
        padding: 30px 30px 0 30px;
    }
    body {
        font-size: 9px;
        overflow-x: hidden !important;
        width: 100%;
    }
    body.slideIn #fullpage {
        left: -270px;
    }
    body.slideIn .header-wrapper {
        width: calc(100% - 270px);
    }
    .get-start-btn, .get-start-btn-2, .get-start-btn-3 {
        width: 150px;
    }
    #fp-nav.right {
        display: none;
    }
    .right-img-2 {
        right: 3vw;
    }
    .left-img-2 {
        left: 3vw;
    }
    .mid-text-section {
    }
    .mid-section3 p{
        line-height: 1.4;
    }
    .left-img{
        left: 1vw;
        bottom: 110px;
    }
    .right-img{
        right: 1vw;
        bottom: 110px;
    }
    #section3 h3{
        font-size: 23px;
    }
    .full-map{
        width: 100%;
    }
    .img-section-relief{
        top: 10vh;
        right: 4vw;
        width: 41vw;    
    }
    .story-table {
        width: 45vw;
        margin-left: 6vw;
        margin-top: 37px;
        margin-bottom: 0;
    }
    .answer-table{
        width: 50vw;
        left: 2vw;
    }
    .contact-pgh{
    padding: 0 100px;
    }
}
@media only screen and (max-width: 1023px) {
    .chat-icon{
        display: none;
    }
    .menu-btn{
        right: 0px;
    }
    .contact-section p{
        margin: 12px 0 26px;
        font-size: 15px;
    }
    .slide_home_board_white,.slide-img1{
        display: none;
    }
    h1{
        font-size: 45px;
    }
    .slide_home_table_white {
    width: 73%;
    }
    .slide-img2{
       width: 62%; 
    }
    .mid-section4 h2{
        font-size: 120px;
    }
    .mid-section4 .belgium{
        margin-top: 0px;
    }
    .full-map{
        width: 100%;
    }
    .full-map svg{
        height: 100%;
        width: 130%;
        transform: translateX(-20%);
    }
    .right-img{
        right: -140px;
        bottom: 20px;
        transform: translateY(0px);
    }
    .left-img{
        left: -140px;
        bottom: 20px;
        transform: translateY(0px);
    }
    .left-img-2 {
        left: -85px;
        bottom: 20px;
        top: auto;
        transform: translateY(0%) !important;
    }
    .right-img-2 {
        right: -127px;
        top: auto;
        transform: translateY(0%) !important;
        bottom: 20px;
    }
    .mid-text-section{
    }
    .contact-pgh {
        padding: 0 10%;
    }
    .section1,.section1 .fp-tableCell{
        height: auto !important;
        position: relative;
    }
    .section1 .fp-tableCell{
        padding-bottom: 430px;
        padding-top: 30px;
    }
    #section1 .text-table {
        width: 90%;
        float: none;
        margin: 10px auto;
        text-align: center;
        padding: 0;
    }
    .story-table {
        width: 90%;
        max-width: 400px;
        margin-left: 0;
        float: none;
        margin-bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) !important;
        top: auto;
        height: 400px;
        bottom: 0;
    }
    .section3,.section3 .fp-tableCell{
        height: auto !important;
        position: relative;
    }
    .section3 .fp-tableCell{
        padding-bottom: 280px;
        padding-top: 30px;
    }
    #section3 .text-table {
        width: 90%;
        float: none;
        margin: 10px auto;
        text-align: center;
        padding: 0;
    }
    .story-table {
        width: 90%;
        max-width: 400px;
        margin-left: 0;
        float: none;
        margin-bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) !important;
        top: auto;
        height: 400px;
        bottom: 0;
    }
    #section4 .text-table {
        width: 90%;
        float: none;
        margin: 10px auto;
        text-align: center;
    }
    .answer-table {
        width: 90%;
        left: 50%;
        position: absolute;
        display: block;
        transform: translateX(-50%);
        max-width: 400px;
    }
    .section4,.section4 .fp-tableCell{
        height: auto !important;
    }
    .section4 .fp-tableCell{
        padding-bottom: 400px;
        padding-top: 20px;
    }
    .section5,.section5 .fp-tableCell{
        height: auto !important;
    }
    .section5 .fp-tableCell{
        padding-bottom: 0;
        padding-top: 20px;
    }
    .section5,.section5 .fp-tableCell{
        height: auto !important;
    }
    .section5 .fp-tableCell{
        padding-bottom: 0;
        padding-top: 20px;
    }
    .section6,.section6 .fp-tableCell{
        height: auto !important;
        position: relative;
    }
    .section6 .fp-tableCell{
        padding-bottom: 410px;
        padding-top: 30px;
    }
    #section6 .text-table {
        width: 90%;
        float: none;
        margin: 10px auto;
        text-align: center;
        padding: 0;
    }
    .story-table {
        width: 90%;
        max-width: 400px;
        margin-left: 0;
        float: none;
        margin-bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) !important;
        top: auto;
        height: 400px;
        bottom: 0;
    }
    .section7,.section7 .fp-tableCell{
        height: auto !important;
        position: relative;
    }
    .section7 .fp-tableCell{
        padding-bottom: 410px;
        padding-top: 30px;
    }
    #section7 .text-table {
        width: 90%;
        float: none;
        margin: 10px auto;
        text-align: center;
        padding: 0;
    }
    .unravel-table {
        width: 90%;
        max-width: 400px;
        margin-left: 0;
        float: none;
        margin-bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) !important;
        top: auto;
        height: 400px;
        bottom: 0;
    }
    .section8,.section8 .fp-tableCell{
        height: auto !important;
        position: relative;
    }
    .section8 .fp-tableCell{
        padding-bottom: 520px;
        padding-top: 30px;
    }
    #section8 .text-table {
        width: 90%;
        float: none;
        margin: 10px auto;
        text-align: center;
        padding: 0;
    }
    .last-word-table {
        width: 90%;
        max-width: 400px;
        margin-left: 0;
        float: none;
        margin-bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) !important;
        top: auto;
        height: 400px;
        bottom: 90px;
    }
    .section9,.section9 .fp-tableCell{
        height: auto !important;
    }
    .section9 .fp-tableCell{
        padding-bottom: 20px;
        padding-top: 30px;
    }
    .get-start-btn, .get-start-btn-2, .get-start-btn-3{
        bottom: 15px;
    }
    .contact-pgh {
        width: 100%;
        text-align: center;
        position: static;
        bottom: 5vh;
        left: 0;
        font: 300 16px 'Poppins', Arial, Helvetica, sans-serif;
        line-height: 1.5;
        color: #4fd899;
        padding-top: 30px;
    }
    .relief-section{
        width: 90%;
        float: none;
        margin: 10px auto 30px;
        text-align: center;
    }
    .img-section-relief{
        position: static;
        float: none;
        margin: 0 auto; 
    }
}
@media only screen and (max-width: 767px) {
    .contact-section h2{
        font-size: 40px;
    }
    .text-table h2{
        font-size: 40px;
    }
    .mid-section3 h2{
        font-size: 40px;
    }
}
@media only screen and (max-height: 780px) and (min-width: 1200px) {
    .text-table p {
        margin: 1.0833vw 0 0;
        font: 300 1em 'Poppins', Arial, Helvetica, sans-serif;
        line-height: 1.4;
    }
}
@media only screen and (max-height: 680px) and (min-width: 1200px) {
    #fp-nav ul li, .fp-slidesNav ul li {
        margin: 22px 7px;
    }
}